# Тут указывается используемый в проекте язык программирования, можно указать несколько
 addons:
  apt:
    packages:
    - libsdl2-dev

language: c
dist: xenial
os: ubuntu
compiler: clang
script: 
 - git ls-files src/ | xargs clang-format -i src/*.c 
 - git diff --exit-code
 - make 

 